data/align/bam/tsk_1.sorted.bam
data/align/bam/tsk_102.sorted.bam
data/align/bam/tsk_103.sorted.bam
data/align/bam/tsk_105.sorted.bam
data/align/bam/tsk_106.sorted.bam
data/align/bam/tsk_110.sorted.bam
data/align/bam/tsk_121.sorted.bam
data/align/bam/tsk_13.sorted.bam
data/align/bam/tsk_130.sorted.bam
data/align/bam/tsk_131.sorted.bam
data/align/bam/tsk_133.sorted.bam
data/align/bam/tsk_134.sorted.bam
data/align/bam/tsk_14.sorted.bam
data/align/bam/tsk_145.sorted.bam
data/align/bam/tsk_149.sorted.bam
data/align/bam/tsk_151.sorted.bam
data/align/bam/tsk_153.sorted.bam
data/align/bam/tsk_160.sorted.bam
data/align/bam/tsk_161.sorted.bam
data/align/bam/tsk_166.sorted.bam
data/align/bam/tsk_169.sorted.bam
data/align/bam/tsk_174.sorted.bam
data/align/bam/tsk_187.sorted.bam
data/align/bam/tsk_188.sorted.bam
data/align/bam/tsk_189.sorted.bam
data/align/bam/tsk_190.sorted.bam
data/align/bam/tsk_191.sorted.bam
data/align/bam/tsk_199.sorted.bam
data/align/bam/tsk_20.sorted.bam
data/align/bam/tsk_201.sorted.bam
data/align/bam/tsk_205.sorted.bam
data/align/bam/tsk_207.sorted.bam
data/align/bam/tsk_21.sorted.bam
data/align/bam/tsk_212.sorted.bam
data/align/bam/tsk_214.sorted.bam
data/align/bam/tsk_217.sorted.bam
data/align/bam/tsk_220.sorted.bam
data/align/bam/tsk_227.sorted.bam
data/align/bam/tsk_235.sorted.bam
data/align/bam/tsk_240.sorted.bam
data/align/bam/tsk_241.sorted.bam
data/align/bam/tsk_243.sorted.bam
data/align/bam/tsk_251.sorted.bam
data/align/bam/tsk_252.sorted.bam
data/align/bam/tsk_257.sorted.bam
data/align/bam/tsk_258.sorted.bam
data/align/bam/tsk_263.sorted.bam
data/align/bam/tsk_270.sorted.bam
data/align/bam/tsk_273.sorted.bam
data/align/bam/tsk_276.sorted.bam
data/align/bam/tsk_287.sorted.bam
data/align/bam/tsk_291.sorted.bam
data/align/bam/tsk_294.sorted.bam
data/align/bam/tsk_298.sorted.bam
data/align/bam/tsk_299.sorted.bam
data/align/bam/tsk_3.sorted.bam
data/align/bam/tsk_34.sorted.bam
data/align/bam/tsk_39.sorted.bam
data/align/bam/tsk_43.sorted.bam
data/align/bam/tsk_47.sorted.bam
data/align/bam/tsk_48.sorted.bam
data/align/bam/tsk_49.sorted.bam
data/align/bam/tsk_50.sorted.bam
data/align/bam/tsk_52.sorted.bam
data/align/bam/tsk_53.sorted.bam
data/align/bam/tsk_54.sorted.bam
data/align/bam/tsk_58.sorted.bam
data/align/bam/tsk_71.sorted.bam
data/align/bam/tsk_80.sorted.bam
data/align/bam/tsk_81.sorted.bam
data/align/bam/tsk_87.sorted.bam
data/align/bam/tsk_88.sorted.bam
data/align/bam/tsk_91.sorted.bam
data/align/bam/tsk_94.sorted.bam
data/align/bam/tsk_99.sorted.bam
data/align/ref_haps_index.csv
data/em/tsk_102_read_hap.tsv
data/em/tsk_103_read_hap.tsv
data/em/tsk_105_read_hap.tsv
data/em/tsk_106_read_hap.tsv
data/em/tsk_110_read_hap.tsv
data/em/tsk_121_read_hap.tsv
data/em/tsk_130_read_hap.tsv
data/em/tsk_131_read_hap.tsv
data/em/tsk_133_read_hap.tsv
data/em/tsk_134_read_hap.tsv
data/em/tsk_13_read_hap.tsv
data/em/tsk_145_read_hap.tsv
data/em/tsk_149_read_hap.tsv
data/em/tsk_14_read_hap.tsv
data/em/tsk_151_read_hap.tsv
data/em/tsk_153_read_hap.tsv
data/em/tsk_160_read_hap.tsv
data/em/tsk_161_read_hap.tsv
data/em/tsk_166_read_hap.tsv
data/em/tsk_169_read_hap.tsv
data/em/tsk_174_read_hap.tsv
data/em/tsk_187_read_hap.tsv
data/em/tsk_188_read_hap.tsv
data/em/tsk_189_read_hap.tsv
data/em/tsk_190_read_hap.tsv
data/em/tsk_191_read_hap.tsv
data/em/tsk_199_read_hap.tsv
data/em/tsk_1_read_hap.tsv
data/em/tsk_201_read_hap.tsv
data/em/tsk_205_read_hap.tsv
data/em/tsk_207_read_hap.tsv
data/em/tsk_20_read_hap.tsv
data/em/tsk_212_read_hap.tsv
data/em/tsk_214_read_hap.tsv
data/em/tsk_217_read_hap.tsv
data/em/tsk_21_read_hap.tsv
data/em/tsk_220_read_hap.tsv
data/em/tsk_227_read_hap.tsv
data/em/tsk_235_read_hap.tsv
data/em/tsk_240_read_hap.tsv
data/em/tsk_241_read_hap.tsv
data/em/tsk_243_read_hap.tsv
data/em/tsk_251_read_hap.tsv
data/em/tsk_252_read_hap.tsv
data/em/tsk_257_read_hap.tsv
data/em/tsk_258_read_hap.tsv
data/em/tsk_263_read_hap.tsv
data/em/tsk_270_read_hap.tsv
data/em/tsk_273_read_hap.tsv
data/em/tsk_276_read_hap.tsv
data/em/tsk_287_read_hap.tsv
data/em/tsk_291_read_hap.tsv
data/em/tsk_294_read_hap.tsv
data/em/tsk_298_read_hap.tsv
data/em/tsk_299_read_hap.tsv
data/em/tsk_34_read_hap.tsv
data/em/tsk_39_read_hap.tsv
data/em/tsk_3_read_hap.tsv
data/em/tsk_43_read_hap.tsv
data/em/tsk_47_read_hap.tsv
data/em/tsk_48_read_hap.tsv
data/em/tsk_49_read_hap.tsv
data/em/tsk_50_read_hap.tsv
data/em/tsk_52_read_hap.tsv
data/em/tsk_53_read_hap.tsv
data/em/tsk_54_read_hap.tsv
data/em/tsk_58_read_hap.tsv
data/em/tsk_71_read_hap.tsv
data/em/tsk_80_read_hap.tsv
data/em/tsk_81_read_hap.tsv
data/em/tsk_87_read_hap.tsv
data/em/tsk_88_read_hap.tsv
data/em/tsk_91_read_hap.tsv
data/em/tsk_94_read_hap.tsv
data/em/tsk_99_read_hap.tsv
data/reads/tsk_1/tsk_1.fa
data/reads/tsk_1/tsk_1_R1.fq
data/reads/tsk_1/tsk_1_R2.fq
data/reads/tsk_102/tsk_102.fa
data/reads/tsk_102/tsk_102_R1.fq
data/reads/tsk_102/tsk_102_R2.fq
data/reads/tsk_103/tsk_103.fa
data/reads/tsk_103/tsk_103_R1.fq
data/reads/tsk_103/tsk_103_R2.fq
data/reads/tsk_105/tsk_105.fa
data/reads/tsk_105/tsk_105_R1.fq
data/reads/tsk_105/tsk_105_R2.fq
data/reads/tsk_106/tsk_106.fa
data/reads/tsk_106/tsk_106_R1.fq
data/reads/tsk_106/tsk_106_R2.fq
data/reads/tsk_110/tsk_110.fa
data/reads/tsk_110/tsk_110_R1.fq
data/reads/tsk_110/tsk_110_R2.fq
data/reads/tsk_121/tsk_121.fa
data/reads/tsk_121/tsk_121_R1.fq
data/reads/tsk_121/tsk_121_R2.fq
data/reads/tsk_13/tsk_13.fa
data/reads/tsk_13/tsk_13_R1.fq
data/reads/tsk_13/tsk_13_R2.fq
data/reads/tsk_130/tsk_130.fa
data/reads/tsk_130/tsk_130_R1.fq
data/reads/tsk_130/tsk_130_R2.fq
data/reads/tsk_131/tsk_131.fa
data/reads/tsk_131/tsk_131_R1.fq
data/reads/tsk_131/tsk_131_R2.fq
data/reads/tsk_133/tsk_133.fa
data/reads/tsk_133/tsk_133_R1.fq
data/reads/tsk_133/tsk_133_R2.fq
data/reads/tsk_134/tsk_134.fa
data/reads/tsk_134/tsk_134_R1.fq
data/reads/tsk_134/tsk_134_R2.fq
data/reads/tsk_14/tsk_14.fa
data/reads/tsk_14/tsk_14_R1.fq
data/reads/tsk_14/tsk_14_R2.fq
data/reads/tsk_145/tsk_145.fa
data/reads/tsk_145/tsk_145_R1.fq
data/reads/tsk_145/tsk_145_R2.fq
data/reads/tsk_149/tsk_149.fa
data/reads/tsk_149/tsk_149_R1.fq
data/reads/tsk_149/tsk_149_R2.fq
data/reads/tsk_151/tsk_151.fa
data/reads/tsk_151/tsk_151_R1.fq
data/reads/tsk_151/tsk_151_R2.fq
data/reads/tsk_153/tsk_153.fa
data/reads/tsk_153/tsk_153_R1.fq
data/reads/tsk_153/tsk_153_R2.fq
data/reads/tsk_160/tsk_160.fa
data/reads/tsk_160/tsk_160_R1.fq
data/reads/tsk_160/tsk_160_R2.fq
data/reads/tsk_161/tsk_161.fa
data/reads/tsk_161/tsk_161_R1.fq
data/reads/tsk_161/tsk_161_R2.fq
data/reads/tsk_166/tsk_166.fa
data/reads/tsk_166/tsk_166_R1.fq
data/reads/tsk_166/tsk_166_R2.fq
data/reads/tsk_169/tsk_169.fa
data/reads/tsk_169/tsk_169_R1.fq
data/reads/tsk_169/tsk_169_R2.fq
data/reads/tsk_174/tsk_174.fa
data/reads/tsk_174/tsk_174_R1.fq
data/reads/tsk_174/tsk_174_R2.fq
data/reads/tsk_187/tsk_187.fa
data/reads/tsk_187/tsk_187_R1.fq
data/reads/tsk_187/tsk_187_R2.fq
data/reads/tsk_188/tsk_188.fa
data/reads/tsk_188/tsk_188_R1.fq
data/reads/tsk_188/tsk_188_R2.fq
data/reads/tsk_189/tsk_189.fa
data/reads/tsk_189/tsk_189_R1.fq
data/reads/tsk_189/tsk_189_R2.fq
data/reads/tsk_190/tsk_190.fa
data/reads/tsk_190/tsk_190_R1.fq
data/reads/tsk_190/tsk_190_R2.fq
data/reads/tsk_191/tsk_191.fa
data/reads/tsk_191/tsk_191_R1.fq
data/reads/tsk_191/tsk_191_R2.fq
data/reads/tsk_199/tsk_199.fa
data/reads/tsk_199/tsk_199_R1.fq
data/reads/tsk_199/tsk_199_R2.fq
data/reads/tsk_20/tsk_20.fa
data/reads/tsk_20/tsk_20_R1.fq
data/reads/tsk_20/tsk_20_R2.fq
data/reads/tsk_201/tsk_201.fa
data/reads/tsk_201/tsk_201_R1.fq
data/reads/tsk_201/tsk_201_R2.fq
data/reads/tsk_205/tsk_205.fa
data/reads/tsk_205/tsk_205_R1.fq
data/reads/tsk_205/tsk_205_R2.fq
data/reads/tsk_207/tsk_207.fa
data/reads/tsk_207/tsk_207_R1.fq
data/reads/tsk_207/tsk_207_R2.fq
data/reads/tsk_21/tsk_21.fa
data/reads/tsk_21/tsk_21_R1.fq
data/reads/tsk_21/tsk_21_R2.fq
data/reads/tsk_212/tsk_212.fa
data/reads/tsk_212/tsk_212_R1.fq
data/reads/tsk_212/tsk_212_R2.fq
data/reads/tsk_214/tsk_214.fa
data/reads/tsk_214/tsk_214_R1.fq
data/reads/tsk_214/tsk_214_R2.fq
data/reads/tsk_217/tsk_217.fa
data/reads/tsk_217/tsk_217_R1.fq
data/reads/tsk_217/tsk_217_R2.fq
data/reads/tsk_220/tsk_220.fa
data/reads/tsk_220/tsk_220_R1.fq
data/reads/tsk_220/tsk_220_R2.fq
data/reads/tsk_227/tsk_227.fa
data/reads/tsk_227/tsk_227_R1.fq
data/reads/tsk_227/tsk_227_R2.fq
data/reads/tsk_235/tsk_235.fa
data/reads/tsk_235/tsk_235_R1.fq
data/reads/tsk_235/tsk_235_R2.fq
data/reads/tsk_240/tsk_240.fa
data/reads/tsk_240/tsk_240_R1.fq
data/reads/tsk_240/tsk_240_R2.fq
data/reads/tsk_241/tsk_241.fa
data/reads/tsk_241/tsk_241_R1.fq
data/reads/tsk_241/tsk_241_R2.fq
data/reads/tsk_243/tsk_243.fa
data/reads/tsk_243/tsk_243_R1.fq
data/reads/tsk_243/tsk_243_R2.fq
data/reads/tsk_251/tsk_251.fa
data/reads/tsk_251/tsk_251_R1.fq
data/reads/tsk_251/tsk_251_R2.fq
data/reads/tsk_252/tsk_252.fa
data/reads/tsk_252/tsk_252_R1.fq
data/reads/tsk_252/tsk_252_R2.fq
data/reads/tsk_257/tsk_257.fa
data/reads/tsk_257/tsk_257_R1.fq
data/reads/tsk_257/tsk_257_R2.fq
data/reads/tsk_258/tsk_258.fa
data/reads/tsk_258/tsk_258_R1.fq
data/reads/tsk_258/tsk_258_R2.fq
data/reads/tsk_263/tsk_263.fa
data/reads/tsk_263/tsk_263_R1.fq
data/reads/tsk_263/tsk_263_R2.fq
data/reads/tsk_270/tsk_270.fa
data/reads/tsk_270/tsk_270_R1.fq
data/reads/tsk_270/tsk_270_R2.fq
data/reads/tsk_273/tsk_273.fa
data/reads/tsk_273/tsk_273_R1.fq
data/reads/tsk_273/tsk_273_R2.fq
data/reads/tsk_276/tsk_276.fa
data/reads/tsk_276/tsk_276_R1.fq
data/reads/tsk_276/tsk_276_R2.fq
data/reads/tsk_287/tsk_287.fa
data/reads/tsk_287/tsk_287_R1.fq
data/reads/tsk_287/tsk_287_R2.fq
data/reads/tsk_291/tsk_291.fa
data/reads/tsk_291/tsk_291_R1.fq
data/reads/tsk_291/tsk_291_R2.fq
data/reads/tsk_294/tsk_294.fa
data/reads/tsk_294/tsk_294_R1.fq
data/reads/tsk_294/tsk_294_R2.fq
data/reads/tsk_298/tsk_298.fa
data/reads/tsk_298/tsk_298_R1.fq
data/reads/tsk_298/tsk_298_R2.fq
data/reads/tsk_299/tsk_299.fa
data/reads/tsk_299/tsk_299_R1.fq
data/reads/tsk_299/tsk_299_R2.fq
data/reads/tsk_3/tsk_3.fa
data/reads/tsk_3/tsk_3_R1.fq
data/reads/tsk_3/tsk_3_R2.fq
data/reads/tsk_34/tsk_34.fa
data/reads/tsk_34/tsk_34_R1.fq
data/reads/tsk_34/tsk_34_R2.fq
data/reads/tsk_39/tsk_39.fa
data/reads/tsk_39/tsk_39_R1.fq
data/reads/tsk_39/tsk_39_R2.fq
data/reads/tsk_43/tsk_43.fa
data/reads/tsk_43/tsk_43_R1.fq
data/reads/tsk_43/tsk_43_R2.fq
data/reads/tsk_47/tsk_47.fa
data/reads/tsk_47/tsk_47_R1.fq
data/reads/tsk_47/tsk_47_R2.fq
data/reads/tsk_48/tsk_48.fa
data/reads/tsk_48/tsk_48_R1.fq
data/reads/tsk_48/tsk_48_R2.fq
data/reads/tsk_49/tsk_49.fa
data/reads/tsk_49/tsk_49_R1.fq
data/reads/tsk_49/tsk_49_R2.fq
data/reads/tsk_50/tsk_50.fa
data/reads/tsk_50/tsk_50_R1.fq
data/reads/tsk_50/tsk_50_R2.fq
data/reads/tsk_52/tsk_52.fa
data/reads/tsk_52/tsk_52_R1.fq
data/reads/tsk_52/tsk_52_R2.fq
data/reads/tsk_53/tsk_53.fa
data/reads/tsk_53/tsk_53_R1.fq
data/reads/tsk_53/tsk_53_R2.fq
data/reads/tsk_54/tsk_54.fa
data/reads/tsk_54/tsk_54_R1.fq
data/reads/tsk_54/tsk_54_R2.fq
data/reads/tsk_58/tsk_58.fa
data/reads/tsk_58/tsk_58_R1.fq
data/reads/tsk_58/tsk_58_R2.fq
data/reads/tsk_71/tsk_71.fa
data/reads/tsk_71/tsk_71_R1.fq
data/reads/tsk_71/tsk_71_R2.fq
data/reads/tsk_80/tsk_80.fa
data/reads/tsk_80/tsk_80_R1.fq
data/reads/tsk_80/tsk_80_R2.fq
data/reads/tsk_81/tsk_81.fa
data/reads/tsk_81/tsk_81_R1.fq
data/reads/tsk_81/tsk_81_R2.fq
data/reads/tsk_87/tsk_87.fa
data/reads/tsk_87/tsk_87_R1.fq
data/reads/tsk_87/tsk_87_R2.fq
data/reads/tsk_88/tsk_88.fa
data/reads/tsk_88/tsk_88_R1.fq
data/reads/tsk_88/tsk_88_R2.fq
data/reads/tsk_91/tsk_91.fa
data/reads/tsk_91/tsk_91_R1.fq
data/reads/tsk_91/tsk_91_R2.fq
data/reads/tsk_94/tsk_94.fa
data/reads/tsk_94/tsk_94_R1.fq
data/reads/tsk_94/tsk_94_R2.fq
data/reads/tsk_99/tsk_99.fa
data/reads/tsk_99/tsk_99_R1.fq
data/reads/tsk_99/tsk_99_R2.fq
data/ref_haps.fa
data/ref_haps.fa.fai
data/ref_haps_index.1.bt2
data/ref_haps_index.2.bt2
data/ref_haps_index.3.bt2
data/ref_haps_index.4.bt2
data/ref_haps_index.rev.1.bt2
data/ref_haps_index.rev.2.bt2
data/ref_samples.csv
data/simulate/labels.tsv
data/simulate/truth.vcf.gz
data/simulate/truth.vcf.gz.tbi
data/test_samples.csv
